<%= render "shared/header" %>

<%# ユーザー情報 %>

<div class="user-box">
  <h2 class="user-title">
    <%= @user.nickname%>さんのマイページ
  </h2>
    <table class="user-table">
      <tbody>
        <tr>
          <th class="detail-user">ニックネーム</th>
          <td class="detail-user-value"><%= @user.nickname %></td>
        </tr>
        <% if @profile.present? %>
        <tr>
          <th class="detail-user">ユーザーメッセージ</th>
          <td class="detail-user-value"><%= @profile.status_message %></td>
        </tr>
        <tr>
          <th class="detail-user">登録地域</th>
          <td class="detail-user-value"><%= @profile.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-user">性別</th>
          <td class="detail-user-value"><%= @profile.gender.name %></td>
        </tr>
        <% end %>
        
        <% if user_signed_in? && (current_user.id == @user.id) %>
        <tr>
          <th class="detail-user">フルネーム</th>
          <td class="detail-user-value"><%= @user.last_name + @user.first_name %></td>
        </tr>
        <tr>
          <th class="detail-user">フルネーム(カナ)</th>
          <td class="detail-user-value"><%= @user.last_kana + @user.first_kana %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <% if user_signed_in? && (current_user.id == @user.id) %>
      <% if @profile.present? %>
        <%= link_to 'プロフィールの編集', edit_user_profile_path(@user.id),method: :get, class:"profile-red-btn"%>
      <% else %>
        <%= link_to 'プロフィールの作成', new_user_profile_path(@user.id), class: "profile-red-btn" %>
      <% end %>
    <% end %>
    <%# ユーザーの出品一覧%>
    <h2 class="user-item-title">
      <%= @user.nickname%>さんの出品一覧
    </h2>
    <ul class='user-item-lists'>
      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>

          <%# 商品が売れていればsold outを表示 %>
          <% @purchases.each do |purchase| %>
            <% if item.id == purchase.item.id %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
            <% end %>
          <% end %>
          <%# //商品が売れていればsold outを表示 %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.value %>円<br><%= item.fee.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
    <%# /ユーザーの出品一覧 %>

    <%# ユーザーの購入履歴 %>
    <% if current_user.id == @user.id %>
      <h2 class="user-purchases-title">
        <%= @user.nickname%>さんの購入履歴
      </h2>
      <ul class='user-purchase-lists'>
      <% @purchases.each do |purchase|%>
        <% if @user.id == purchase.user.id %>
          <li class='list'>
            <div class='purchase'>
              <%= image_tag purchase.item.image, class: "item-img" %>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= purchase.item.name %>
                </h3>
                <div class='item-price'>
                  <%= purchase.item.value %>円<br><%= purchase.item.fee.name %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
      </ul>
    <% end %>
    <%# /ユーザーの購入履歴 %>
</div>
<%# /ユーザーの概要 %>


<%= render "shared/footer" %>